/* Imports */
/*
@import url("reset.css");
@import url("pygment.css");
@import url("typogrify.css");
*/
/*

/* Body */
body {
    /*background: #F5F4EF; /* achtergrondkleur*/
    /*background: #E8F0F5; /* Lichtgrijs /*achtergrondkleur*/
    background: #EEFFEE; /* Lichtgroen /*achtergrondkleur*/
    color: #000305; /*Kleur bodytekst*/
    
    font-size: 87.5%; /* Base font size: 14px */
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
}

	Header
*****************/
#banner {
	margin: 0 auto;
	padding: 2.5em 0 0 0;
}
	/* Main Nav */
	#banner nav {
		background: #000305;
		font-size: 1.143em;
		height: 65px;/*Was 40px Hoogte zwarte balk*/
		line-height: 30px;/*Was 30px*/
		margin: 0 auto 2em auto;
		padding: 0;
		text-align: center;
		width: 800px;
		
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	
	#banner nav ul {list-style: none; margin: 0 auto; width: 800px;}/*width Was 800px*/
	#banner nav li {float: left; display: inline; margin: 0;}
	
	#banner nav a:link, #banner nav a:visited {
		color: #fff;
		display: inline-block;
		height: 30px;
		padding: 5px 1.5em;
		text-decoration: none;
	}
	#banner nav a:hover, #banner nav a:active,
	#banner nav .active a:link, #banner nav .active a:visited {
		background: #C74451;
		color: #fff;
		text-shadow: none !important;
	}
/*	
	#banner nav li:first-child a {
		border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-webkit-border-top-left-radius: 5px;
		
		border-bottom-left-radius: 5px;
		-moz-border-radius-bottomleft: 5px;
		-webkit-border-bottom-left-radius: 5px;
	}
*/

